--find-links https://download.pytorch.org/whl/torch_stable.html

torch==2.1.2
torchvision==0.16.2
ultralytics

numpy==1.26.4
opencv-python>=4.1.2

mss
pynput
pywin32
requests
termcolor
pyqt5
ultralytics
dill